<section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title"> 
                {{ 'USER_PLURAL_LABEL' | translate}} 
                <small>{{ 'LIST_LABEL' | translate}}</small>
            </h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 250px;">
                  <input name="table_search" class="form-control pull-right" [(ngModel)]=query (keyup)=find() placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'USER_PLURAL_LABEL' | translate}}  {{ 'EMAIL_NAME_LABEL' | translate}}"type="text">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
            </div>
        </div>    

      <div class="box-body">
         <div *ngIf="global.actions.updated == true" class="alert alert-success alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_SAVED_SUCESSFULLY_LABEL' | translate}} !</h4>
            
          </div>
        <div *ngIf="global.actions.deleted == true" class="alert alert-danger alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_DELETED_SUCESSFULLY_LABEL' | translate}} !</h4>
            
          </div>
          
        <div class="row">
            <div class="col-md-12">
                <button type="button"  (click)="New()" class="btn btn-success ">
                    {{ 'NEW_LABEL' | translate}}
                </button>
                 &nbsp;
                <button type="button"  (click)="SearchPatner()" class="btn btn-success ">
                    {{ 'FIND_PATNER_LABEL' | translate}}
                </button>
                &nbsp;
                <button type="button"  (click)="DELETED_ALL()" class="btn btn-danger ">
                   <i class="fa fa-trash"></i>
                </button>
                
            </div>
        </div>

              

        <table class="table">
            <thead>
                <tr>
                    <th width="10px"><input type="checkbox"  [(ngModel)]=selected (click)="SELECT_ALL()"></th>
                    <th>{{ 'FIRST_NAME_LABEL' | translate}}</th>
                    <th>{{ 'LAST_NAME_LABEL' | translate}}</th>
                    <th>{{ 'ROLE_LABEL' | translate}}</th>
                    <th>{{ 'IS_ACTIVE_LABEL' | translate}}</th>
                    <th>{{ 'IS_SUPER_USER_LABEL' | translate}}</th>
                    <th>{{ 'USERNAME_LABEL' | translate}}</th>
                    <th>{{ 'EMAIL_NAME_LABEL' | translate}}</th>
                    <th>{{ 'NICK_NAME_LABEL' | translate}}</th>
                    <th>{{ 'USER_ROLE_LABEL' | translate}}</th>
                   
                    <th>{{ 'PATNERSHIP_LABEL' | translate}}</th>
                     <th>{{ 'PATNERSHIP_REQUESTED_LABEL' | translate}}</th>
                    <th>{{ 'ACTIONS_LABEL' | translate}}</th>
                    <th>{{ 'PERMISIONS_LABEL' | translate}}</th>
                    
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of items">
                    <td>
                        <input type="checkbox" [(ngModel)]=item.checked>
                    </td>
                    <td>
                        {{item.first_name}}
                    </td>
                    <td>
                       {{item.last_name}}
                    </td>
                    <td>
                       {{item.role | translate}}
                    </td>
                    <td>
                        <label class="label label-success" *ngIf="item.is_active == true" >{{ 'YES_LABEL' | translate}}</label>
                        <label class="label label-danger" *ngIf="item.is_active == false" >{{ 'NO_LABEL' | translate}}</label>
                    </td>                    
                    <td>
                        <label class="label label-success" *ngIf="item.is_superuser == true" >{{ 'YES_LABEL' | translate}}</label>
                        <label class="label label-danger" *ngIf="item.is_superuser == false" >{{ 'NO_LABEL' | translate}}</label>
                    </td>
                    <td>
                        <strong>{{item.username}}</strong>
                    </td>
                    <td>
                        <strong>{{item.email}}</strong>
                    </td>
                   <td>
                        <strong>{{item.nick}}</strong>
                    </td>
                     <td>
                        <strong>{{item.role}}</strong>
                    </td>

                    <td>
                        <label class="label label-success" *ngIf="item.parnetship == true" >{{ 'YES_LABEL' | translate}}</label>
                        <label class="label label-danger" *ngIf="item.parnetship == false" >{{ 'NO_LABEL' | translate}}</label>
                    </td>
                    <td>
                        <label class="label label-success" *ngIf="item.parnetship_requested == true" >{{ 'YES_LABEL' | translate}}</label>
                        <label class="label label-danger" *ngIf="item.parnetship_requested == false" >{{ 'NO_LABEL' | translate}}</label>
                    </td>

                    <td>
                        <a class="btn btn-primary" (click)="EDIT(item)">
                            <i class="fa fa-pencil-square-o"></i>
                            {{ 'EDIT_LABEL' | translate}}
                        </a> &nbsp;
                        <a class="btn btn-success" *ngIf="item.parnetship_requested == true && item.parnetship == null" (click)="ENABLE_PATNER(item)">
                            {{ 'ENABLE_PATNER_LABEL' | translate}}
                        </a>
                         <a class="btn btn-success"  *ngIf="item.parnetship == false" (click)="ENABLE_PATNER(item)">
                            {{ 'ENABLE_PATNER_LABEL' | translate}}
                        </a>
                        <a class="btn btn-danger"  *ngIf="item.parnetship == true" (click)="ENABLE_PATNER(item)">
                           
                            {{ 'DISABLE_PATNER_LABEL' | translate}}
                        </a>
                         &nbsp;
                        <a  *ngIf="item.is_superuser == false" class="btn btn-danger" (click)="DELETE(item)">
                            <i class="fa fa-trash"></i>
                        </a>
                         &nbsp;
                        <span >
                            <a  *ngIf="item.is_superuser == false && item.is_active == true"  class="btn btn-danger" (click)="DEACTIVATE(item)">
                                {{ 'DEACTIVATE_LABEL' | translate}}
                            </a>
                        </span>
                        <span >
                            <a  *ngIf="item.is_superuser == false && item.is_active == false " class="btn btn-success"  (click)="ACTIVATE(item)">
                            {{ 'ACTIVATE_LABEL' | translate}}
                            </a>
                        </span>
                       
                    </td>
                    <td>
                         <a *ngIf="item.is_superuser == false" class="btn btn-primary" (click)="PERMISIONS(item)">
                            <i class="fa fa-lock"></i>
                            {{ 'PERMISIONS_LABEL' | translate}}
                        </a>
                    </td>
                </tr>
             
            </tbody>
        </table>

        <div *ngIf="pages > 1">
            <button (click)="loadmore()" class="btn btn-block btn-primary" type="button">
                    {{ 'LOAD_MORE_LABEL' | translate}}
            </button>
        </div>
         

      
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
