

    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"> 
            {{ 'SETTINGS_LABEL' | translate}} 
            <span  *ngIf="global.actions.is_new == true">
              {{ 'NEW_LABEL' | translate}}
            </span>
            <span *ngIf="global.actions.is_new == false">
              {{ 'EDIT_LABEL' | translate}}
            </span>
        </h3>
      </div>    

      <div class="box-body">
          <div *ngIf="global.actions.updated == true" class="alert alert-success alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_SAVED_SUCESSFULLY_LABEL' | translate}} !</h4>
          </div>

          <!-- Morris chart - Sales -->
          
          <div style="padding: 15px">
           
            <div class="form-group">
              <label >{{ 'WEBSITE_NAME_LABEL' | translate}}</label>
              <input class="form-control"  [(ngModel)]=model.website_name  type="text">
            </div>      
            <div class="form-group">
              <label >{{ 'PERPAGE_HOME_LABEL' | translate}}</label>
              <input class="form-control"  [(ngModel)]=model.perpage_home  type="number">
            </div>                           
            <div class="form-group">
              <label >{{ 'PERPAGE_CATEGORY_LABEL' | translate}}</label>
              <input class="form-control"  [(ngModel)]=model.perpage_category  type="number">
            </div>

            <div class="form-group">
              <label >{{ 'DOLLAR_PRICE_LABEL' | translate}}</label>
              <input class="form-control"  [(ngModel)]=model.dollar_price  type="number">
            </div>                               
            <div class="form-group">
              <label >{{ 'DESCRIPTION_LABEL' | translate}}</label>
              <textarea  class="form-control"  [(ngModel)]=model.description ></textarea>
            </div>
           <div class="form-group">
              <label >{{ 'BACKGROUND_IMAGE_LABEL' | translate}}</label>
              <input type="text" class="form-control"  [(ngModel)]=model.background_image >
            </div>

          </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        &nbsp;
        <button (click)="save()" class="btn btn-primary">
          <span  *ngIf="global.actions.is_new == true">
             {{ 'SAVE_LABEL' | translate}} 

          </span>
          <span *ngIf="global.actions.is_new == false">
             {{ 'UPDATE_LABEL' | translate}} 
          </span>
       </button>
        &nbsp;
         
      </div>
    </div>
    <!-- /.box -->
</section>
