.skin-blue .main-header .navbar .nav > .messages-menu > a.dropdown-toggle {
    color: #fff;
}
.skin-blue .main-header .navbar .nav > .messages-menu > a.dropdown-toggle {
    padding-top: 15px;
    padding-bottom: 15px;
}
.skin-blue .main-header .navbar .nav > .messages-menu > a.dropdown-toggle  {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.skin-blue .main-header .navbar .nav > .messages-menu > a.dropdown-toggle{
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}