



<section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title"> 
                {{ 'THEME_PAGES_LABEL' | translate}} 
                <small>{{ 'LIST_LABEL' | translate}}</small>
            </h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 250px;">
                  <input name="table_search" class="form-control pull-right" [(ngModel)]=query (keyup)=find() placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'PAGES_LABEL' | translate}}"type="text">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
            </div>
        </div>    

      <div class="box-body">
    
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'NAME_LABEL' | translate}}</th>
                    <th>{{ 'ACTIONS_LABEL' | translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of items">
                   
                    <td>
                        <strong>{{item.page}}</strong>
                    </td>
                    <td>
                        <a class="btn btn-warning" *ngIf="item.selected == true"  (click)="SELECTABLE_SELECT(item)">
                            {{ 'SELECTED_LABEL' | translate}}
                        </a>
                        <a class="btn btn-primary " *ngIf="item.selected == false" (click)="SELECTABLE_SELECT(item)">
                            {{ 'SELECT_LABEL' | translate}}
                        </a>
                    </td>
                </tr>
             
            </tbody>
        </table>

        <div *ngIf="pages > 1">
            <button (click)="loadmore()" class="btn btn-block btn-primary" type="button">
                    {{ 'LOAD_MORE_LABEL' | translate}}
            </button>
        </div>
         

      
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
