

    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"> 
            {{ 'CATEGORIES_LABEL' | translate}} 
            <span  *ngIf="global.actions.is_new == true">
              {{ 'NEW_LABEL' | translate}}
            </span>
            <span *ngIf="global.actions.is_new == false">
              {{ 'EDIT_LABEL' | translate}}
            </span>
        </h3>
      </div>    

      <div class="box-body">
          <div *ngIf="global.actions.updated == true" class="alert alert-success alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_SAVED_SUCESSFULLY_LABEL' | translate}} !</h4>
            
          </div>
          <div class="nav-tabs-custom" >
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#basic" data-toggle="tab" aria-expanded="true">{{ 'BASIC_LABEL' | translate}}</a></li>
              <li><a href="#seo" data-toggle="tab" aria-expanded="false">{{ 'ARTICLES_PLURAL_LABEL' | translate}}</a></li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div id="basic" class="tab-pane active">
                <div style="padding: 15px">
                 
                  <div class="form-group">
                    <label >{{ 'CD_KEY_LABEL' | translate}}</label>
                    
                      <input class="form-control"  [(ngModel)]=model.cd_key  type="text">
                   
                  </div>
                </div>

                

                  
              </div>
              <div id="seo" class="tab-pane" >
                <div style="padding: 15px">
                  <app-cd_keys_selectable [(model)]="related" ></app-cd_keys_selectable>
                </div>
              </div>
            </div>
          </div>

        
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        
        <button (click)="back()" class="btn btn-primary">
         {{ 'BACK_LABEL' | translate}} 
        </button>
        &nbsp;
        <button (click)="save()" class="btn btn-primary">
          <span  *ngIf="global.actions.is_new == true">
             {{ 'SAVE_LABEL' | translate}} 

          </span>
          <span *ngIf="global.actions.is_new == false">
             {{ 'UPDATE_LABEL' | translate}} 
          </span>
       </button>
        &nbsp;
          <a  *ngIf="global.actions.is_new == false" class="btn btn-danger" (click)="DELETE()">
            <i class="fa fa-trash"></i>
          </a>
      </div>
    </div>
    <!-- /.box -->
</section>
