

    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"> 
            {{ 'ORDER_PLURAL_LABEL' | translate}} 
            <span  *ngIf="global.actions.is_new == true">
              {{ 'NEW_LABEL' | translate}}
            </span>
            <span *ngIf="global.actions.is_new == false">
              {{ 'EDIT_LABEL' | translate}}
            </span>
        </h3>
      </div>    

      <div class="box-body">
          <div *ngIf="global.actions.updated == true" class="alert alert-success alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_SAVED_SUCESSFULLY_LABEL' | translate}} !</h4>
          </div>
          <div class="nav-tabs-custom" >
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#basic" data-toggle="tab" aria-expanded="true">{{ 'BASIC_LABEL' | translate}}</a></li>
              <li><a href="#seo" data-toggle="tab" aria-expanded="false">{{ 'ITEMS_LABEL' | translate}}</a></li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div id="basic" class="tab-pane active">
                <div style="padding: 15px">
                  
                  <table>
                    <tbody>
                      <tr>
                        <th>{{"FIRST_NAME_LABEL"| translate}}</th>
                        <td>{{model.autorx.first_name}}</td>
                      </tr>
                      <tr>
                        <th>{{"LAST_NAME_LABEL"| translate}}</th>
                        <td>{{model.autorx.first_name}}</td>
                      </tr>
                      <tr>
                        <th>{{"EMAIL_NAME_LABEL"| translate}}</th>
                        <td>{{model.autorx.email}}</td>
                      </tr>
                      <tr>
                        <th>{{"NICK_NAME_LABEL"| translate}}</th>
                        <td>{{model.autorx.nick}}</td>
                      </tr>
                      <tr>
                        <th>{{"ROLE_LABEL"|translate}}</th>
                        <td>
                          {{model.autorx.role | translate}}
                        </td>
                      </tr>
                      <tr>
                        <th>{{"STATUSES_LABEL"|translate}}</th>
                        <td>
                          <div *ngIf="model.selected == false">
                            {{model.status | translate}} 
                            <a class="btn btn-primary" (click)="EDIT_STATUS(model)">
                                {{ 'EDIT_STATUSES_LABEL' | translate}}
                              </a> 
                          </div>
                          <div *ngIf="model.selected == true">
                              <div  class="form-group">
                                <select class="form-control" (change)="EDIT_STATUS(model)" [(ngModel)]="model.status" >
                                    <option [ngValue]="country.id" *ngFor="let country of statuses">{{ country.name | translate}}</option>
                                </select>
                              </div>

                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th>{{"IS_ACTIVE_LABEL"| translate}}</th>
                        <td>
                          <label class="label label-success" *ngIf="model.autorx.is_active == true" >{{ 'YES_LABEL' | translate}}</label>
                          <label class="label label-danger" *ngIf="model.autorx.is_active == false" >{{ 'NO_LABEL' | translate}}</label>
                        </td>  
                      </tr>
                      <tr>
                        <th>{{"IS_SUPER_USER_LABEL"| translate}}</th>
                        <td>
                          <label class="label label-success" *ngIf="model.autorx.is_superuser == true" >{{ 'YES_LABEL' | translate}}</label>
                          <label class="label label-danger" *ngIf="model.autorx.is_superuser == false" >{{ 'NO_LABEL' | translate}}</label>
                        </td> 
                      </tr>
                    </tbody>
                  </table>


                  <h4>{{ 'PAYMENT_METHOD_ADDRESS' | translate}}</h4>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>{{ 'PAYMENT_METHOD_LABEL' | translate}}</th>
                        <th>{{ 'PAYMENT_INFO_LABEL' | translate}}</th>
                        <th>{{ 'AMOUNT_LABEL' | translate}}</th> 
                      </tr>
                    </thead>
                      <tbody>
                        <tr *ngFor="let item of model.payment_methodx">
                          <td>
                            {{item.payment_method| translate}}
                          </td>
                          <td>
                            <div >
                              <table>
                                <tbody>
                                  <tr *ngFor="let itemx of item.payment_info">
                                    <th>{{itemx.key| translate}}: &nbsp;</th>
                                    <td>
                                      <div *ngIf="itemx.key == 'filename'">
                                        <a target="blank" href="{{media_url}}{{itemx.value}}">{{ 'VIEW_FILE_LABEL' | translate}}</a>
                                      </div>
                                      <div *ngIf="itemx.key !== 'filename'">
                                        {{itemx.value}}
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                          <td>
                            {{item.amount}} {{item.currency}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                  
              </div>
              <div id="seo" class="tab-pane" >
                <div style="padding: 15px">
                              

                    <table class="table">
                        <thead>
                          <tr>
                            <th width="10px"><input type="checkbox"  [(ngModel)]=selected (click)="SELECT_ALL()"></th>
                            <th>{{ 'TITLE_LABEL' | translate}}</th>
                            <th>{{ 'PRODUCT_TYPE_LABEL' | translate}}</th>
                            <th>{{ 'CD_KEY_LABEL' | translate}}</th>
                            <th>{{ 'PRICE_LABEL' | translate}}</th>
                            <th>{{ 'QTY_LABEL' | translate}}</th>
                            <th>{{ 'ACTIONS_LABEL' | translate}}</th>
                          </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of items">
                              <td>
                                <input type="checkbox" [(ngModel)]=item.checked>
                              </td>
                              <td>
                                <strong>{{item.productx.title}}</strong>
                              </td>
                              <td>
                                <strong>{{item.productx.product_type | translate}}</strong>
                              </td>
                              <td>
                                  <h4>{{ 'BILLING_ADDRESS' | translate}}</h4>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>{{ 'FIRST_NAME_LABEL' | translate}}</th>
                                        <th>{{ 'LAST_NAME_LABEL' | translate}}</th>
                                        <th>{{ 'ADDRESS_LABEL' | translate}}</th> 
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>
                                          {{item.shipping_addressx.first_name}}
                                        </td>
                                        <td>
                                          {{item.shipping_addressx.last_name}}
                                        </td>
                                        <td>
                                          {{item.shipping_addressx.address_line_1}}  {{item.shipping_addressx.address_line_2}},  {{item.shipping_addressx.city}} - {{item.shipping_addressx.country}} - {{item.shipping_addressx.zip_code}}
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h4>{{ 'SHIPPING_ADDRESS' | translate}}</h4>

                                  <table class="table">
                                      <thead>
                                        <tr>
                                          <th>{{ 'FIRST_NAME_LABEL' | translate}}</th>
                                          <th>{{ 'LAST_NAME_LABEL' | translate}}</th>
                                          <th>{{ 'ADDRESS_LABEL' | translate}}</th>  
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                            <td>
                                              {{item.billing_addresssx.first_name}}
                                            </td>
                                            <td>
                                              {{item.billing_addresssx.last_name}}
                                            </td>
                                            <td>
                                              {{item.billing_addresssx.address_line_1}}  {{item.billing_addresssx.address_line_2}},  {{item.billing_addresssx.city}} - {{item.billing_addresssx.country}} - {{item.billing_addresssx.zip_code}}
                                            </td>
                                          </tr>
                                      </tbody>
                                  </table>

                                </td>

                                <td>
                                    <strong>{{item.price}} {{model.currency}}</strong>
                                </td>
                                <td>
                                    <strong>{{item.qty}}</strong>
                                </td>

                                <td>
                                  <div *ngIf="item.productx.product_type == 'digital'">
                                    <strong *ngFor="let cdkey of item.keys">CdKeys:{{cdkey.cd_key}}&nbsp;</strong>
                                  </div>

                                  <div *ngIf="item.productx.product_type == 'digital-delivery'">
                                    <ul>
                                      <li *ngFor="let cdkey of item.get_delivery_methodx">
                                        <strong>{{ 'EDIT_EMAIL_DELIVERY_SENDED' | translate}}:</strong>
                                        {{cdkey.email}}
                                        &nbsp;
                                        <a *ngIf="cdkey.email_sent === false" class="btn btn-primary" (click)="EDIT_EMAIL_DELIVERY_SENDED(cdkey)">
                                          {{ 'EMAIL_SENT_LABEL' | translate}}
                                        </a> 
                                        &nbsp;
                                        <a *ngIf="cdkey.email_sent === true" class="btn btn-success">
                                          {{ 'EMAIL_SENT_TRUE_LABEL' | translate}}
                                        </a> 
                                      </li>
                                    </ul>
                                  </div>


                                  <div *ngIf="item.productx.product_type == 'physical'">
                                    <div *ngIf="item.selected == true" class="form-group">
                                      <input class="form-control"  [(ngModel)]=item.tracking_number  type="text" placeholder="{{ 'TRACKING_NUMBER_LABEL' | translate}}">
                                    </div>
                                    <div *ngIf="item.selected == true" class="form-group">
                                      <input class="form-control"  [(ngModel)]=item.carrier  type="text" placeholder="{{ 'CARRIER_LABEL' | translate}}">
                                    </div>
                                    <a *ngIf="item.selected == true" class="btn btn-primary" (click)="ADD_TRACKING(item)">
                                      {{ 'SAVE_LABEL' | translate}}
                                    </a> 
                                    <a *ngIf="item.selected == false" class="btn btn-primary" (click)="ADD_TRACKING(item)">
                                      {{ 'EDIT_TRACKING_LABEL' | translate}}
                                    </a> 
                                  </div>
                                </td>
                            </tr>
                         
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>

        
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button (click)="back()" class="btn btn-primary">
         {{ 'BACK_LABEL' | translate}} 
        </button>
      </div>
    </div>
    <!-- /.box -->
</section>
