
<section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title"> 
                {{ 'MEDIA_LABEL' | translate}} 
                <small>{{ 'LIST_LABEL' | translate}}</small>
            </h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 250px;">
                  <input name="table_search" class="form-control pull-right" [(ngModel)]=query (keyup)=find() placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'MEDIA_LABEL' | translate}}"type="text">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
            </div>
        </div>    

      <div class="box-body">
        <div *ngIf="global.actions.deleted == true" class="alert alert-danger alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_DELETED_SUCESSFULLY_LABEL' | translate}} !</h4>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <label >{{ 'TITLE_LABEL' | translate}}</label>
                            <input class="form-control"  [(ngModel)]=model2.title  type="text">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label >{{ 'LINK_LABEL' | translate}}</label>
                            <input class="form-control"  [(ngModel)]=model2.link  type="text">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label >{{ 'LINK_TYPE_LABEL' | translate}}</label>
                            <select class="form-control" [(ngModel)]="model2.clasification" >
                              <option [ngValue]="lang.id" *ngFor="let lang of classification_types">{{ lang.name | translate}}</option>
                            </select>
                        </div>
                    </td>
                   
                    <td>
                        <div class="form-group">
                            <label>{{ 'ANOTATIONS_LABEL' | translate}}</label>
                            <textarea class="form-control" [(ngModel)]=model2.anotation></textarea>
                        </div>
                    </td>
                     <td>
                        <div class="form-group">
                            <label >{{ 'ANOTATION_POSITION_LABEL' | translate}}</label>
                            <select class="form-control" [(ngModel)]="model2.anotation_positon" >
                              <option [ngValue]="lang.id" *ngFor="let lang of anotation_positon_types">{{ lang.name | translate}}</option>
                            </select>
                        </div>
                    </td>

                    
     
                    <td>
                        <div style="margin: 25px;">
                            <a class="btn btn-success" *ngIf="model2.featured == true"  (click)="SET_FEATURED(model2)">
                                {{ 'FEATURED_LABEL' | translate}}
                            </a>
                            <a class="btn btn-primary " *ngIf="model2.featured == false" (click)="SET_FEATURED(model2)">
                                {{ 'FEATURED_LABEL' | translate}}
                            </a>
                        </div>
                       
                    </td>
                    <td>
                        <div style="margin: 25px;">
                            <button (click)="save()" class="btn btn-primary">
                            {{ 'SAVE_LABEL' | translate}} 
                            </button>
                        </div>
                        
                    </td>
                </tr>
             
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                <button type="button"  (click)="DELETED_ALL()" class="btn btn-danger ">
                   <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
                  

        <table class="table">
            <thead>
                <tr>
                    <th width="10px"><input type="checkbox"  [(ngModel)]=selected (click)="SELECT_ALL()"></th>
                    <th>{{ 'TITLE_LABEL' | translate}}</th>
                    <th>{{ 'LINK_LABEL' | translate}}</th>
                    <th>{{ 'MEDIA_TYPE_LABEL' | translate}}</th>
                    <th>{{ 'ANOTATIONS_LABEL' | translate}}</th>
                     <th>{{ 'ANOTATION_POSITION_LABEL' | translate}}</th>

                    <th>{{ 'FEATURED_LABEL' | translate}}</th>
                    <th width="10%">{{ 'ACTIONS_LABEL' | translate}}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of items">
                    <td>
                        <input type="checkbox" [(ngModel)]=item.checked>
                    </td>
                    <td>
                        <strong *ngIf="item.editable == false" >{{item.title}}</strong>
                        <div *ngIf="item.editable == true" class="form-group">
                            <input class="form-control"  [(ngModel)]=item.title  type="text">
                        </div>
                    </td>
                    <td>
                        <strong *ngIf="item.editable == false">{{item.link}}</strong>
                        <div *ngIf="item.editable == true" class="form-group">
                            <input class="form-control" [(ngModel)]=item.link  type="text">
                        </div> 
                    </td>
                    <td>
                        <strong *ngIf="item.editable == false">{{item.clasification | translate}}</strong>
                        <div *ngIf="item.editable == true" class="form-group">
                            <select class="form-control" [(ngModel)]="item.clasification" >
                              <option [ngValue]="lang.id" *ngFor="let lang of classification_types">{{ lang.name | translate}}</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <strong *ngIf="item.editable == false">
                            {{item.anotation | translate}}
                        </strong>
                        <div *ngIf="item.editable == true" class="form-group">
                            <textarea class="form-control" [(ngModel)]=item.anotation></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                              <strong *ngIf="item.editable == false">
                            {{item.anotation_positon | translate}}
                        </strong>
                           
                            <select *ngIf="item.editable == true" class="form-control" [(ngModel)]="item.anotation_positon" >
                              <option [ngValue]="lang.id" *ngFor="let lang of anotation_positon_types">{{ lang.name | translate}}</option>
                            </select>
                        </div>
                    </td>
                    <td>
                       
                        <a class="btn btn-success" *ngIf="item.featured == true"  (click)="SET_FEATURED(item)">
                            {{ 'FEATURED_LABEL' | translate}}
                        </a>
                        <a class="btn btn-primary " *ngIf="item.featured == false" (click)="SET_FEATURED(item)">
                            {{ 'FEATURED_LABEL' | translate}}
                        </a>
                     
                    </td>
                    <td>    
                        <a *ngIf="item.editable == false" class="btn btn-primary" (click)="EDIT(item)">
                            <i class="fa fa-pencil-square-o"></i>
                            {{ 'EDIT_LABEL' | translate}}
                        </a> &nbsp;

                        <a *ngIf="item.editable == false" class="btn btn-danger" (click)="DELETE(item)">
                            <i class="fa fa-trash"></i>
                        </a>

                        <button *ngIf="item.editable == true" (click)="UPDATE(item)" class="btn btn-primary">
                            {{ 'SAVE_LABEL' | translate}} 
                        </button>
                    </td>
                </tr>
             
            </tbody>
        </table>

        <div *ngIf="pages > 1">
            <button (click)="loadmore()" class="btn btn-block btn-primary" type="button">
                {{ 'LOAD_MORE_LABEL' | translate}}
            </button>
        </div>
         

      
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
